
<header>
	<div class="inner">
		<h1>Regions</h1>
		<h2>Simple regions system for Spout Server</h2>
		<a href="https://github.com/tenowg/Regions" class="button"><small>View project on</small>GitHub</a>
	</div>
</header>


<div id="content-wrapper">
	<div class="inner clearfix">
		<section id="main-content">
			<div>
				<a href="http://tenowg.github.io/Regions/command">Commands</a> |
				<a href="http://tenowg.github.io/Regions/permission">Permissions</a> |
				<a href="http://tenowg.github.io/Regions/annotation">Annotations</a>
				<hr />
			</div>